ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    width: 50%;
    text-align: left;
}

li {
    padding: 10px; 
    margin: 5px 0; 
    background-color: #f4f4f4; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
}

li:hover {
    background-color: #e0e0e0; 
}

a{
    text-decoration: none;
    color:rgb(58, 58, 58);
}

