#todolist{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7);

    
}

#form{
    margin-bottom: 10px;
}
#taches_liste {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 10px;
}

.task{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;  
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
}

.completed{
    background-color: green;
    color:white;
}

button{
    height: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#Ajouter:hover{
    background-color: gray;
    color: white;
    border-radius: 3px;
}

.complet{
    background-color: green;
    color: white;
    border-radius: 3px;
}

.supprimer{
    background-color: red;
    color: white;
    border-radius: 3px;
}

.complet:hover{
    background-color: darkgreen;
}

.supprimer:hover{
    background-color: darkred;
}

